datos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

                            <!-- ELEMENTO RAIZ -->
    <xs:element name = "granja">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref = "semillas" minOccurs="1" maxOccurs="1"></xs:element>
                <xs:element ref = "herramientas" minOccurs="1" maxOccurs="1"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

<!-- =================== SECCION DE SEMILLAS =================== -->
    <xs:element name = "semillas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref = "semilla" minOccurs = "1" maxOccurs = "unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name = "semilla">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref = "nombre" minOccurs = "1" maxOccurs = "1"></xs:element>
                <xs:element ref = "emoji" minOccurs = "1" maxOccurs = "1"></xs:element>
                <xs:element ref = "precioCompra" minOccurs = "1" maxOccurs = "1"></xs:element>
                <xs:element ref = "precioVenta" minOccurs = "1" maxOccurs = "1"></xs:element>
                <xs:element ref = "tiempoMaduracion" minOccurs = "1" maxOccurs = "1"></xs:element>
            </xs:sequence>
            <xs:attribute ref = "idSemilla"></xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name = "nombre" type = "xs:string"></xs:element>

    <xs:element name = "emoji" type = "xs:string"></xs:element>

    <xs:element name = "precioCompra">
        <xs:simpleType>
            <xs:restriction base = "xs:int">
                <xs:pattern value = "[0-9]{2}"></xs:pattern>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name = "precioVenta">
        <xs:simpleType>
            <xs:restriction base = "xs:int">
                <xs:pattern value = "[0-9]{2}"></xs:pattern>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name = "tiempoMaduracion">
        <xs:simpleType>
            <xs:restriction base = "xs:int">
                <xs:pattern value = "[0-9]{2}"></xs:pattern>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>



<!-- =================== SECCION DE HERRAMIENTAS =================== -->
    <xs:element name = "herramientas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref = "herramienta" minOccurs = "1" maxOccurs = "unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name = "herramienta">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref = "nombreH" minOccurs = "1" maxOccurs = "1"></xs:element>
                <xs:element ref = "emojiH" minOccurs = "1" maxOccurs = "1"></xs:element>
                <xs:element ref = "tipoEfecto" minOccurs = "1" maxOccurs = "1"></xs:element>

                <xs:element ref = "niveles" minOccurs="1" maxOccurs="1"></xs:element>
            </xs:sequence>
            <xs:attribute ref = "idHerramienta"></xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name = "nombreH" type = "xs:string"></xs:element>

    <xs:element name = "emojiH" type = "xs:string"></xs:element>

    <xs:element name = "tipoEfecto" type = "xs:string"></xs:element>

    <xs:element name = "niveles">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref = "nivel" minOccurs = "1" maxOccurs = "unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name = "nivel">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref = "nombreNivel" minOccurs = "1" maxOccurs = "1"></xs:element>
                <xs:element ref = "costo" minOccurs = "1" maxOccurs = "1"></xs:element>
                <xs:element ref = "efecto" minOccurs = "1" maxOccurs = "1"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name = "nombreNivel" type = "xs:string"></xs:element>

    <xs:element name = "costo">
        <xs:simpleType>
            <xs:restriction base = "xs:int">
                <xs:pattern value = "[0-9]{1,3}"></xs:pattern>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name = "efecto">
        <xs:simpleType>
            <xs:restriction base = "xs:decimal">
                <xs:pattern value = "[0-9]\.[0-9]+"></xs:pattern>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

                            <!-- ATRIBUTOS -->
    <!-- SECCION DE SEMILLAS -->
    <xs:attribute name = "idSemilla">
        <xs:simpleType>
            <xs:restriction base = "xs:ID">
                <xs:pattern value = "s[0-9]+"></xs:pattern>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <!-- SECCION DE HERRAMIENTAS -->
    <xs:attribute name = "idHerramienta">
        <xs:simpleType>
            <xs:restriction base = "xs:ID">
                <xs:pattern value = "h[0-9]+"></xs:pattern>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>


</xs:schema>